### Instruction: Please extract relevant information from OCR-read document ("{{namedentity1}}","{{namedentity2}}","{{namedentity3}}").
If several values are present format them as a list.
If value cannot be extracted use "values":"NotAvail".
### Input: {{document}}
### Output: 